config ADS7846
    bool
    select SSI

config VGA_CIRRUS
    bool
    depends on PCI
    select VGA
    #select ISA

config G364FB
    bool

config JAZZ_LED
    bool

config PL110
    bool
    select FRAMEBUFFER

config SSD0303
    bool
    #select I2C

config SSD0323
    bool
    select SSI

config VGA_PCI
    bool
    select VGA
    depends on PCI

config VGA_ISA
    bool
    select VGA
    #select ISA

config VGA_ISA_MM
    bool
    select VGA

config VMWARE_VGA
    bool
    select VGA
    depends on PCI

config BLIZZARD
    bool

config FRAMEBUFFER
    bool

config MILKYMIST
    bool
    select FRAMEBUFFER

config ZAURUS
    bool
    select NAND
    select ECC

config OMAP
    bool
    select FRAMEBUFFER

config PXA2XX
    bool
    select FRAMEBUFFER

config MILKYMIST_TMU2
    bool

config SM501
    bool

config TCX
    bool

config VGA
    bool

config QXL
    bool
